[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/

# Sistema operacional
.DS_Store
Thumbs.db

# Unity Cloud
sysinfo.txt

# Visual Studio / VSCode
.vscode/
*.csproj
*.sln
*.user
*.unityproj

# Dados do pacote
Packages/com.unity.collab-proxy/

# Arquivos locais do usuário
UserSettings/
